.title-header {
  background-color: #1e243f;
  color: white;
  margin: 0;
  padding: 20px;
}

.deliveryhistoric-img {
  width: 100%;
  opacity: 0.7;
  height: 350px;
}

.title-page {
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-deliveries {
  color: #fff;
  background-color: #ed754d;
  border: 1px solid #ed754d;

  border-radius: 5px;
  margin-right: 5px;
  margin-top: 40px;
}

.btn-danger:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #ed754d;
  border-color: #ed754d;
}

.btn-danger:focus {
  box-shadow: none;
}
.active .nav-link {
  background-color: #1e243f;
}

p {
  font-family: "Poppins", sans-serif;
}

.card-deliveryhistory {
  text-align: center;
  border: 2px solid #ed754d;
  background-color: #ffffff;
  margin-top: 28px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: white;
}

span {
  font-weight: bold;
}

.deliveryid-row {
  font-weight: bold;
}

.numberid {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 25px;
}

span {
  font-weight: bold;
}
