.footer-content {
  background-color: #ed754d;
  padding: 20px;
  color: #1e243f;
  text-align: center;
  font-weight: bold;
}

i {
  color: #1e243f;
  margin-right: 25px;
  text-align: center;
}

ul {
  justify-content: center;
}

bm-item {
  color: #ed754d;
}
