.welcomeUser {
    margin-top: 40px;
    margin-right: 17px;
    color: #ed754d;
}
.row-userLoggedIn.row {
    float: right;
    margin-right: 0px;
}

.row-btn-register-login {
    margin-right: 10px;
}
.div-login {
    display: flex;
    float: right;
}

.btn.btn-primary:hover {
    border: 1px solid #dbdbdb;
    background-color: #dbdbdb;
    color: #1e243f;
}

.btn-danger {
    color: #fff;
    background-color: #ed754d;
    border-color: #ed754d;
    box-shadow: 2px 2px sienna;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 40px;
    box-shadow: 1px 1px #c4603f;
}

.btn-danger:hover {
    color: #1e243f;
    background-color: #dbdbdb;
    border-color: #ed754d;
    box-shadow: 1px 1px #c4603f;
}

.btn-logout {
    float: right;
    margin-top: 40px;
    margin-right: 30px;
    background-color: #ed754d;
    border: 1px solid #ed754d;
}
.btn-logout:hover {
    color: #ed754d;
    background-color: #dbdbdb;
}

.btn-danger:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.btn-danger:not(:disabled):not(.disabled):active {
    color: #000;
    background-color: #dbdbdb;
    border-color: #ed754d;
    box-shadow: 4px 4px #c4603f;
}

.btn-danger.focus,
.btn-danger:focus {
    box-shadow: none;
}
